body{
    background-image: url('https://on-desktop.com/wps/2019_Character_Daenerys_Targaryen_on_the_throne_film_Game_of_Thrones_134816_.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
